#slide {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    width: 5%;
    cursor: pointer;
}
.item {
    position: absolute;
    transition:.5s ease-in;
    width: 50vw;
    height: 75vh;
}
.button + .button { margin-left: 4rem; }
.item + .item { opacity: 0; }